SERVER_PORT = 9001
NODE_ENV = production

#Redis Config
TTL_TIME = 36000
REDIS_PORT = 6379
REDIS_HOST = redis
REDIS_PASSWORD = root

#LineBot Config 
CHANNEL_ACCESS_TOKEN = oVDB+DzqRHZkoU5mQWLRfr+/VaYBFmo+uQ4aKS1jxLrA6mL9B6ct9gEirBZoT6XQdi4NEktCJZ8q4ntaF0PKbY2Iw1RENj0ZuR+fjWxLIybAiHZWCqRF0epuifNMNCJmTlt2dnU+DO3W0zdQBVZlqAdB04t89/1O/w1cDnyilFU=
CHANNEL_SECRET = 7b604c00ca0cc51fb296f69f26595611