<footer>
  <div class="footer__top">
    <div class="wrap">
      <div class="footer__info">
        <!-- <div class="address">
          地址: XXXXX
        </div> -->
        <div class="phone">
          <label for="">客服電話: </label>
          <a href="tel:+886-971-602-550">0971-602-550</a>
        </div>
        <div class="open-time">
          客服服務時間：週一〜週五 09:00~18:00 /
          週六、週日、國定假日（含連假）休息
        </div>
        <div class="email">
          <label for="">客服信箱: </label>
          <a href="mailto:contact@loopick.com.tw"
            >contact@loopick.com.tw</a
          >
        </div>
      </div>
      <div class="footer__site">
        <div>Pick LooP Use LooPick</div>
        <div class="social-media">
          <a href="https://www.facebook.com/loopick.tw" target="_blank"
            ><i class="fa fa-facebook" aria-hidden="true"></i>
            Facebook</a
          >
          <a href="https://instagram.com/loopick.tw?igshid=Y2ZmNzg0YzQ=" target="_blank"
            ><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a
          >
          <a href="https://loopick.com.tw/" target="_blank"
            ><i class="fa fa-chrome" aria-hidden="true"></i> Website</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p>
      Copyright © 2020 LooPickCo.,Ltd. All Rights Reserved.
      循拾股份有限公司版權所有
    </p>
  </div>
</footer>