<nav class="navbar">
  <div class="wrap">
    <div class="navbar__site-name">
      <a href="/home">LooPick</a>
    </div>
    <ul class="navbar__list" >
      <li><a href= "/user/">登記歸還</a></li>
      <li><a href= "/store/">分配店家</a></li>
      <li><a href= "/history/">借用情形</a></li>
      <li><a href= "https://loopick.com.tw/contact/" target="_blank">聯絡客服</a></li>
      <li><a href="/logout">登出</a></li>
    </ul>   
  </div>
</nav>