<nav class="navbar">
  <div class="wrap">
    <div class="navbar__site-name">
      <a href="/">登入頁面</a>
    </div>
    <ul class="navbar__list">
      <li><a href="/login">登入</a></li>
      <li><a href="/register">註冊</a></li>
    </ul>
  </div>
</nav>